<% content_for :title, "new article" %>

<h1 class="text-center mt-4">New article</h1>

<%= render "form", article: @article %>



<div class="text-center mt-4  btn-primary" >
  <%= link_to "Articles", articles_path, class: "btn btn-success mx-1 btn-fixed-width" %>

</div>
