.custom-card-container {
  margin: 0 20%; /* 左右边距为页面宽度的 20% */
}
.btn-fixed-width {
  width: 120px;
}
.custom-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 自定义阴影 */
}
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}
.navbar {
   background-color: black !important; 
}
.navbar-brand {
  float: left;
  font-size: 1.7em;
  color: #fff !important;
  text-transform: uppercase; 
  letter-spacing: -1px;
  font-weight: bold;
}
.nav-link {
  color: white !important;
}


.jumbotron-custom {
  /* background-image: url('https://picsum.photos/800/400');*/
  background-image: url('home_index_bj.jpg');
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: white; /* 如果背景是深色的，文字颜色建议改为白色 */
  padding: 5rem;
}


#sticky-footer{
  flex-shrink: none;
}