<div class ="flex-fill">
      </div>
<footer class="bg-dark text-white text-center py-3 sticky-footer " >

    <div class="container flex-fill">
      © <%= Time.now.year %> Copyright:
      <a class="text-white text-decoration-none" href="#">MyApp.com</a>
    </div>
  </footer>